# Ignore build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE files
.vs/

# Logs
*.log

# Rider and VS Code specific
.idea/
.vscode/    56 NuGet
*.nupkg
*.snupkg

appsettings.Development.json
